body{
    font-family: Arial, sans-serif;
    background-color: linear-gradient(purple, pink);
    margin: 0;
    padding: 0;
    margin-top: 200px;

}
h2{
    color: gray;
    text-align: center;
}
form{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
#submitBtn{
    background-color: purple;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}   